body {
    padding: 0;
    margin: 0;
    background: #231F20;
}

/* Root container */
#unity-container {
    position: fixed;
    width: 100%;
    height: 100%;
}

/* Canvas */
#unity-canvas {
    width: 100%;
    height: 100%;
    background: #cfcfcf;
}

/* Loading bar wrapper */
#unity-loading-bar {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none
}

/* Unity logo */
#unity-logo {
    width: 154px;
    height: 130px;
    background: url('unity-logo-dark.png') no-repeat center;
    background-size: contain;
}

/* Progress bar empty */
#unity-progress-bar-empty {
    margin-left: auto;
    margin-right: auto;
    width: 141px;
    height: 18px;
    margin-top: 10px;
    background: url('progress-bar-empty-light.png') no-repeat center
}

/* Progress bar fill */
#unity-progress-bar-full {
    width: 0%;
    height: 18px;
    margin-top: 10px;
    background: url('progress-bar-full-light.png') no-repeat center
}

/* Story text below bar */
#unity-loading-text {
    margin-top: 8px;
    width: 141px; /* matches loading bar */
    text-align: center;
    font-size: 11px; /* reduced to match bar length */
    line-height: 1.3;
    color: #000000;
    font-family: 'Segoe UI', sans-serif;
    font-style: oblique;
    letter-spacing: 0.3px;
    opacity: 0.8;
    animation: fadeIn 2s ease-in-out infinite alternate;
}

/* Warning banner */
#unity-warning {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%);
    background: white;
    padding: 10px;
    display: none;
}

/* Subtle breathing effect */
@keyframes fadeIn {
    from {
        opacity: 0.45;
    }

    to {
        opacity: 0.9;
    }
}
